<br /><br /><br /><br /><br />

<div class="container">
  <div>
    <h2>Ajouter un Produit :</h2>
  </div>
  <form>
    <div hidden class="col-sm-2 col-md-2 col-lg-2">
      <label>ID Produit</label>
      <input
        type="text"
        [(ngModel)]="newProduit.idProduit"
        name="idProduit"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Marque</label>
      <input
        type="text"
        [(ngModel)]="newProduit.nomProduit"
        name="nomProduit"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Serie</label>
      <input
        type="text"
        [(ngModel)]="newProduit.numeros"
        name="serie"
        class="form-control"
      />
    </div>
    <div *ngIf="errorMessage" class="text-danger mt-1">
      {{ errorMessage }}
    </div>

    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Unité propriétaire</label>
      <input
        type="text"
        [(ngModel)]="newProduit.unite"
        name="unite"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>Unité propriétaire specifique</label>
      <input
        type="text"
        [(ngModel)]="newProduit.unitespec"
        name="unitespec"
        class="form-control"
      />
    </div>
    <div class="col-sm-2 col-md-2 col-lg-2">
      <label>donation</label>
      <select
        [(ngModel)]="newProduit.donation"
        name="donation"
        class="form-control"
      >
        <option [ngValue]="true">Oui</option>
        <option [ngValue]="false">Non</option>
      </select>
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Date </label>
      <input
        type="date"
        [(ngModel)]="newProduit.dateCreation"
        name="dateCreation"
        class="form-control"
      />
    </div>
    <div class="col-sm-4 col-md-4 col-lg-4">
      <label>Categorie</label>
      <select
        class="form-control form-control-lg"
        id="idCat"
        name="idCat"
        [(ngModel)]="newIdCat"
      >
        <option *ngFor="let cat of categories" [value]="cat.idCat">
          {{ cat.nomCat }}
        </option>
      </select>
    </div>
    <div class="mt-2">
      <button type="submit" (click)="addProduit()" class="btn btn-success">
        Ajouter
      </button>
      <div>
        <h3>
          {{ message }}
        </h3>
      </div>
    </div>
  </form>
</div>
