<div class="app-container">
  <div class="content">
    <div class="navbar">
      <div class="menu">
        <ul id="sub">
          <li>
            <a routerLink="/accueil">Transmission</a>
          </li>
          <li><a routerLink="/produits">Materiels</a></li>
          <li>
            <a href="#">Recherche</a>
            <ul id="submenu">
              <a routerLink="/rechercheParNom">Recherche Par Marque</a>
              <li>
                <a routerLink="/rechercheParCategorie"
                  >Recherche Par Categorie</a
                >
              </li>
              <li>
                <a routerLink="/rechercheParSerie">Recherche Par Serie</a>
              </li>
              <li>
                <a routerLink="/rechercheParUnite">Recherche Par Unité</a>
              </li>
              <li>
                <a routerLink="/rechercheParUniteSpec"
                  >Recherche Par Unité specifique</a
                >
              </li>
            </ul>
          </li>

          <li>
            <a href="#" *ngIf="authService.isAdmin()" class="dropdown-item"
              >Ajout</a
            >
            <ul id="submenu">
              <li>
                <a routerLink="addProduit">Ajouter un materiel</a>
              </li>
              <li><a routerLink="/listeCategories">Ajouter categorie</a></li>
            </ul>
          </li>

          <li><a href="#">CONTACT</a></li>
          <ul>
            <li>
              <a class="nav-link">{{ authService.loggedUser }}</a>
            </li>

            <li>
              <a href="#">User</a>
              <ul id="submenu1">
                <li>
                  <a *ngIf="!authService.isloggedIn" routerLink="login"
                    >Login</a
                  >
                </li>
                <li>
                  <a
                    *ngIf="authService.isloggedIn"
                    class="dropdown-item"
                    (click)="onLogout()"
                    >Logout</a
                  >
                </li>
              </ul>
            </li>
          </ul>
        </ul>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
