html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("/assets/img.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100vw;
  height: 100vh;
  background-color: #f0f0f0;
  color: #f0f0f0;
}

.content {
  position: relative;
  z-index: 1;
}
.main {
  width: 100%;
  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0.5) 50%
  );
}
