<br /><br /><br /><br />
<div class="carousel">
  <!-- list item -->
  <div class="list">
    <div class="item">
      <div class="content">
        <div class="author">Sous direction</div>
        <div class="title">transmission</div>
        <div class="topic">Garde Nationale</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="author">Sous direction</div>
        <div class="title">transmission</div>
        <div class="topic">Garde Nationale</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="author">Sous direction</div>
        <div class="title">transmission</div>
        <div class="topic">Garde Nationale</div>
      </div>
    </div>
    <div class="item">
      <div class="content">
        <div class="author">Sous direction</div>
        <div class="title">transmission</div>
        <div class="topic">Garde Nationale</div>
        <div class="des">
          Nous soutenons nos agents dans toutes leurs missions, même en zones
          hors réseau, grâce à des équipements tels que des GPS portables pour
          une navigation précise, des talkies-walkies pour des communications
          sécurisées, des panneaux solaires et groupes électrogènes pour une
          autonomie énergétique, ainsi que des murs d'écran pour le contrôle à
          distance, des drones, des systèmes anti-drones et des robots pour des
          interventions efficaces. Tout est mis en place pour garantir leur
          réussite, où qu'ils soient
        </div>
        <div class="buttons">
          <button>SEE MORE</button>
          <button>SUBSCRIBE</button>
        </div>
      </div>
    </div>
  </div>
  <!-- list thumnail -->
  <div class="thumbnail">
    <div class="item">
      <img class="img" src="./assets/img/imigrant.jpg" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="description">Description</div>
      </div>
    </div>
    <div class="item">
      <img class="img" src="./assets/img/talki.webp" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="description">Description</div>
      </div>
    </div>
    <div class="item">
      <img class="img" src="./assets/img/poste.webp" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="description">Description</div>
      </div>
    </div>
    <div class="item">
      <img class="img" src="./assets/img/gps.webp" />
      <div class="content">
        <div class="title">Name Slider</div>
        <div class="description">Description</div>
      </div>
    </div>
  </div>
  <!-- next prev -->

  <div class="arrows">
    <button id="prev"></button>
    <button id="next">></button>
  </div>
  <!-- time running -->
  <div class="time"></div>
</div>
